
.navbar{
    background-color: transparent;
    height: 80px;
    margin-top: -65%;
}
.brand{
    font-family: Cinzel;
    font-size: 37px;
    color: whitesmoke;
}
.btn1{
    background-color: transparent;
    border: 2px solid whitesmoke;
    font-family: Montserrat;
    padding: 13px;
    color: whitesmoke;
    border-radius: 0px;
}
.phone{
    color: whitesmoke;
    margin-right: -10%;
}
.user{
    color: whitesmoke;
    margin-right: -10%;
}
.fa-phone{
    font-size: 15px;
    padding: 10px;
    border: 2px solid whitesmoke;
    border-radius: 50px 50px;
}
.fa-user{
    font-size: 15px;
    padding: 10px;
    border: 2px solid whitesmoke;
    border-radius: 50px 50px;
}
.chevron{
    margin-top: 36%;
    color: whitesmoke;
    margin-left: 3%;
}
.fa-chevron-down{
    font-size: 33px;

    padding: 10px;
}
.chevronn{
    font-size: 20px;
    padding: 0;
}
.arrow{
    font-size: 14px;
    color: whitesmoke;
}